# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath

# VSCode
.vscode/

# Mac OS X
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Log files
*.log

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar
